{% extends 'base.html.twig' %}

{% block body %}
        {{ form_start(categoryForm) }}
                {{ form_widget(categoryForm) }}
                <button class="btn">{{ button_label|default('Ajouter') }}</button>
        {{ form_end(categoryForm) }}
{% endblock %}
