{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE HTML>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Wild Série</title>
        </head>
        <body>
            <h1>{{ welcome }}</h1>
        </body>
    </html>
{% endblock %}
